<main class="main">
  <div class="inner">
    
    <div class="card__wrapper">
       <% @blogs.each do |blog| %>
         <%= link_to blog_path(blog.id) do %>
     <div class="card">
         <%= image_tag blog.image, class: "card__img" %>
      <div class="card__body">
         <%= link_to blog.title, blog_path(blog.id), class: :card__title%>
         <%= l blog.created_at %>
         <%= link_to blog.user.name, root_path, class: :card__user %>
        </div>
       </div>
       <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <%= link_to(new_blog_path, class: 'purchase-btn') do %>
     <span class='purchase-btn-text'>投稿</span>
     <%= image_tag 'memo.png' , size: '185x50' ,class: "purchase-btn-icon" %>
   <% end %>
</main>
