<main class="main">
  <div class="inner">
    
    <div class="card__wrapper">
     
       <% @blogs.each do |blog| %>
         <%= link_to blog_path(blog.id) do %>
         <div class="card">
         <%= image_tag blog.image, class: "card__img" %>
         <div class="card__body">
         <%= link_to blog.title, root_path, class: :card__title%>
       <p class="card__summary">
     
    </p>
    <%#= link_to "by #{blog.name}", root_path, class: :card__user %>
  </div>
  </div>
       <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <%= link_to(new_blog_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿</span>
  <%= image_tag 'memo.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
</main>
